version: '3.8'

services:
  web:
    image: nginx:alpine
    networks:
      - webnet
    ports:
      - "80:80"
    deploy:
      replicas: 3
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == worker

networks:
  webnet:
    driver: overlay
    encrypted: true
